.card
  width: 250px
  height: 350px

  display: flex
  flex-direction: column

  background-color: #bc91e9
  border-radius: 1rem

  h3
    color: black
    text-align: center

.card__body
  background-color: #EBD8FF
  width: 90%
  margin-right: auto
  margin-left: auto
  height: 70%
  border-radius: 1rem

.card__stats
  padding-top: 10px
  display: flex
  flex-direction: row
  justify-content: center

  .card__stats__type
    color: white
    background-color: #6e3ba5
    border-radius: 6px

    padding: 5px
    margin-right: 4px

